
# Compiled class file
*.class

# Log file
*.log

# BlueJ files
*.ctxt

# Mobile Tools for Java (J2ME)
.mtj.tmp/

# virtual machine crash logs
hs_err_pid*
replay_pid*

# SQLite Database Files 
dmart.db
dmart.db-shm
dmart.db-wal

# IDE / Project Environment Files
.idea/
*.iml
.project
.classpath
.settings/
bin/
out/
target/
